############################
# 🟢 Symfony
############################

/.env.*
/!.env.example

/config/secrets/prod/prod.decrypt.private.php

/var/
/vendor/

############################
# 🟢 Assets / Build
############################

/public/bundles/
/public/assets/
/public/build/
/assets/vendor/

############################
# 🟢 Node / JS
############################

node_modules/
npm-debug.log
yarn-error.log

############################
# 🟢 PHPUnit / Tests
############################

/phpunit.xml
/.phpunit.cache/

############################
# 🟢 Logs
############################

*.log

############################
# 🟢 IDE / Editor
############################

.vscode/
.idea/

############################
# 🟢 OS
############################

.DS_Store
Thumbs.db

############################
# 🟢 Divers
############################

*.swp
*.swo
